/* #productCarousel {
  min-width: 40%;
}
#productDetails {
  margin-top: 2%;
  display: flex;
  align-content: space-between;
}

#details {
  padding-left: 3%;
  display: grid;
}

#descriptionSpan {
  padding: 5px;
  min-height: 100px;
}

#addButton {
  width: 100px;
  padding: 2px;
  border: 0;
} */

.carouselImage {
  width: 100%;
}
