#addBtn {
  background-color: #639bf1;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 5px;
  width: 100px;
}

.Pcontainer {
  margin-top: 20px;
  max-width: 1000px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#Pdetails {
  display: grid;
}
#pDesc {
  margin-bottom: 50px;
}
#pDesc h1 {
  text-align: center;
}

hr {
  width: 80%;
  margin: 20px auto;
}

#cart-icon {
  margin-top: -2px;
}

#goToCartBtn {
  margin-left: 3px;
  visibility: hidden;
  background-color: white;
  color: #639bf1;
  border: 1px solid #ddd;
  border-radius: 7px;
  padding: 5px;
  width: 100px;
}

#goToCartBtn:hover {
  border: 1px solid grey;
  color: blue;
}

@media (max-width: 770px) {
  #descriptionSpan {
    font-size: 12px;
  }
  #Pdetails {
    display: grid;
  }
  #addBtn {
    width: 100%;
  }
  #goToCartBtn {
    margin-left: auto;
    margin-top: 3px;
    width: 100%;
  }
}
