#loginContainer {
  width: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#loginContainer form {
  width: 300px;
}

#loginBtn {
  background-color: #639bf1;
  border: none;
}

#loginBtn:hover {
  background-color: blue;
  transition: 0.5s;
}

#imgContainer {
  height: 200px;
  background-color: white;
  background-image: url(../../assets/person.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#redirectToReg {
  color: #639bf1;
}

#eyeIconLog {
  margin-left: 275px;
  margin-top: -65px;
}

#eyeIconLog:hover {
  cursor: pointer;
}

@media (max-width: 390px) {
  #loginContainer form {
    width: 250px;
  }
  #eyeIconLog {
    margin-left: 225px;
  }
}
